freshbooks_domain = 'yourname.freshbooks.com'
freshbooks_token = 'derp'

ACCOUNTS = [
    {
        'freshbooks': {
            'domain': freshbooks_domain,
            'token': freshbooks_token,
            'project_id': 123,
            'task_id': 123,
        },
        'codebase': {
            'username': 'foo/bar',
            'key': 'herp',
            'user_id': 12345,
            'project_name': 'my-project'
        }  
    }
]

